# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store
